<%- include('partials/header', { title: 'About', siteSettings }) %>
<div class="row">
  <div class="col-lg-8 mx-auto">
    <h1 class="mb-3">About Goodfella Pools</h1>
    <p>We design, build, and renovate beautiful swimming pools with a focus on quality and customer satisfaction.</p>
    <h2 class="h4 mt-4">Why Choose Us</h2>
    <ul>
      <li>Experience and craftsmanship</li>
      <li>Premium materials and equipment</li>
      <li>Licensed & insured professionals</li>
      <li>Customer-first service</li>
    </ul>
  </div>
  </div>
<%- include('partials/footer', { siteSettings }) %>


